
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@if (Session["ErrorMess"] != null)
{
    if (string.Compare(Session["ErrorMess"].ToString(), "Success!") == 0)
    {
        <div class="alert-success">@Session["ErrorMess"]</div>
    }
    else
    {
        <div class="alert alert-danger">@Session["ErrorMess"]</div>
    }



}

@using WebApplication1.Models.EF;
@model List<sinhvien>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="page-header">Thông Tin Sinh Viên</h1>
               

            </div>
            <div class="panel panel-collapse">

                @using (Html.BeginForm("UploadFileSinhvien", "PDT", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                    <div class="form-group">

                        <div class="control-label col-md-2">Import file Sinh Viên:</div>
                        <div class="col-md-10">
                            <input type="file" id="FileUpload" name="FileUpload" class="" />
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

                            </div>
                        </div>

                }

            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>MSSV</th>
                            <th>Họ Tên</th>
                            <th>Giới tính</th>
                            <th>Ngày Sinh</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Lớp</th>
                            <th>Mã Khoa</th>
                            <th>Mã đăng ký môn học</th>
                            <th>Thao Tác</th>

                        </tr>
                    </thead>
                    <tbody >
                        @foreach (sinhvien sv in Model)
                        {
                            string gioitinh="";
                            if (sv.gioitinh == true)
                            {
                                gioitinh = "Nam";
                            }
                            else if(sv.gioitinh == false)
                            {
                                gioitinh = "Nữ";
                            }

                            <tr class="odd gradeX">

                                <td class="center">@sv.mssv</td>
                                <td class="center">@sv.hoten</td>
                                <td class="center">@gioitinh</td>
                                <td class="center">@sv.ngaysinh</td>
                                <td class="center">@sv.sdt</td>
                                <td class="center">@sv.diachi</td>
                                <td class="center">@sv.email</td>
                                <td class="center">@sv.lop</td>
                                <td class="center">@sv.makhoa</td>
                                <td class="center">@sv.madk</td>
                                <td class="center"><a class="btn btn-danger" href="@Url.Action("DeleteSV","PDT",new {@mssv = sv.mssv } )" >Xoá</a>
                                <a class="btn btn-warning" href="@Url.Action("EditSV","PDT",new {@mssv = sv.mssv } )"> Sửa</a></td>

                            </tr>
                        }


                    </tbody>
                </table>
                <a href="@Url.Action("ExportSV","PDT")" class="btn btn-primary">Export</a>
                <!-- /.table-responsive -->
                
                        
                  
                      @if (Session["ThongBao"] != null)
                      {
                          if (string.Compare(Session["ThongBao"].ToString(), "Thêm thành công") == 0)
                          {
                            <script language="javascript">
                                alert("Thêm thành công!!!!");
                            </script>
                          }
                          if (string.Compare(Session["ThongBao"].ToString(), "Xoá Thành Công") == 0)
                          {
                            <script language="javascript">
                                alert("Xoá thành công!!!!");
                            </script>
                          }
                          if (string.Compare(Session["ThongBao"].ToString(), "Xoá Không Thành Công") == 0)
                          {
                            <script language="javascript">
                                alert("Xoá Không Thành Công!!!!");
                            </script>
                          }
                          if (string.Compare(Session["ThongBao"].ToString(), "Sửa Thành Công") == 0)
                          {
                            <script language="javascript">
                                alert("Sửa Thành Công!!!!");
                            </script>
                          }
                          
                          Session["ThongBao"] = null;

                      }


                        


            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>



